<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
    
    <title>Chonsawat's Porfolio</title>
    <link rel="stylesheet" href="style.css">
    <link rel="icon" href="asset/Portfolio_Profile.png">
    <link href="https://cdn.jsdelivr.net/npm/@mdi/font@6.x/css/materialdesignicons.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.min.css" rel="stylesheet">
</head>
<body>
    <v-app id="app">
    <v-main>
        <!-- Toolbar -->
        <v-app-bar app color="pink" elevation="6">
        <v-container>
        <v-row justify="center">
            <h1 class="white--text">RESUME</h1>
        </v-row>
        </v-container>
        </v-app-bar>

        <v-content-app>
        <!-- Description -->
        <v-container>
            <h1>{{title}}</h1>
            <p>{{about}}</p>
        </v-container>

        <!-- Fetch Cards -->
        <v-container>
            <v-row>
                <v-col cols="4" v-for="(data) of projectCards">
                    <project-card :data="data"></project-card>
                </v-col>
            </v-row>
        </v-container>

        <!-- List -->
        <v-container>
            <h4>My Programming Language</h4>
            <ol>
                <todo-item
                  v-for="item in programmingList"
                  v-bind:todo="item"
                  v-bind:key="item.id"
                ></todo-item>
              </ol>
        </v-container>

        <!-- TODO: Github Page -->
        <v-container>
            <h4>My Projects</h4>
            <a class="icon-link" :href="contact.github" target="_blank"><ion-icon name="logo-github" size="large"></ion-icon></a>
        </v-container>
        </v-content-app>

        <!-- Contact -->
        <v-footer app>
        <v-container>
        <v-row justify="center">
            <a class="icon-link mx-3" :href="contact.linkedIn" target="_blank"><ion-icon name="logo-linkedin" size="large"></ion-icon></a>
            <a class="icon-link mx-3" :href="'mailto:' + contact.email" target="_blank"><ion-icon name="mail-open" size="large"></ion-icon></a>
            <a class="icon-link mx-3" :href="contact.facebook" target="_blank"><ion-icon name="logo-facebook" size="large"></ion-icon></a>
            <a class="icon-link mx-3" :href="contact.instagram" target="_blank"><ion-icon name="logo-instagram" size="large"></ion-icon></a>
            <a class="icon-link mx-3" :href="contact.twitter" target="_blank"><ion-icon name="logo-twitter" size="large"></ion-icon></a>
        </v-row>
        </v-container>
        </v-footer>
    </v-main>
    </v-app>

    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14"></script>
    <script src="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.js"></script>
    <script src="templete.js"></script>
    <script src="app.js"></script>
</body>
</html>